<!--
 * Filename: addToTables.handlebars
 * Author: Zachary Anderson, Ryan Gift
 * Date: 8/18/17
 * Description: This displays the forms for adding to all the tables in the
 *              database.
-->

<br />
<h2>Input A New Country:</h2>
<form id="newCountry" action="/insert_country" method="post">
    	<div>
        	<label class="inputLabel">Name:</label>
        	<input class="userInput" type="text" name="name" id="name">
    	</div>
    	<br />
    	<div>
        	<label class="inputLabel">Continent:</label>
        	<select class="userInput" name="continent" id="continent">
			<option value="North America">North America</option>
			<option value="South America">South America</option>
			<option value="Europe">Europe</option>
			<option value="Asia">Asia</option>
			<option value="Africa">Africa</option>
			<option value="Oceania">Oceania</option>
			<option value="Antartica">Antartica</option>
		</select>
	</div>
	<br />
	<div>
		<label class="inputLabel">Population:</label>
		<input class="userInput" type="number" name="population" id="population">
	</div>
	<br />
	<div>
		<input type="submit" name="AddCountry" value="AddCountry" id="postNewCountry">
	</div>
</form>

<h2>Input A New Movie</h2>
<form id="newMovie" action="/insert_movie" method="post">
	<div>
        	<label class="inputLabel">Title:</label>
        	<input class="userInput" type="text" name="title" id="title">
	</div>
	<br />
	<div>
		<label class="inputLabel">Genre:</label>
		<input class="userInput" type="text" name="genre" id="genre">
	</div>
	<br />
	<div>
		<label class="inputLabel">Runtime:</label>
		<input class="userInput" type="number" name="runtime" id="runtime">
	</div>
	<br />
	<div>
		<label class="inputLabel">Release Date (YYYY-MM-DD):</label>
		<input class="userInput" type="date" name="release_date" id="release_date">
	</div>
	<br />
	<div>
		<input type="submit" name="AddMovie" value="AddMovie" id="postNewMovie">
	</div>
</form>

<h2>Input A New Director</h2>
<form id="newDirector" action="/insert_director" method="post">
	<div>
		<label class="inputLabel">First Name:</label>
		<input class="userInput" type="text" name="first_name" id="first_name">
	</div>
	<br />
	<div>
		<label class="inputLabel">Last Name:</label>
		<input class="userInput" type="text" name="last_name" id="last_name">
	</div>
	<br />
	<div>
		<label class="inputLabel">Age:</label>
		<input class="userInput" type="number" name="age" id="age">
	</div>
	<br />
	<div>
		<label class="inputLabel">Country:</label>
        <select name="countryD" id="countryD">
            <option value="" selected="selected">Select Country</option>
            {{#if countries}}
            {{#each countries}}
            <option id="selectedName" value="{{this.id}}">{{this.name}}</option>
            {{/each}}
            {{/if}}
        </select>
	</div>
	<br />
	<div>
		<input type="submit" name="AddDirector" value="AddDirector" id="postNewDirector">
	</div>
</form>

<h2>Input A New Actor</h2>
<form id="newActor" action="/insert_actor" method="post">
	<div>
		<label class="inputLabel">First Name:</label>
		<input class="userInput" type="text" name="first_name" id="first_name">
	</div>
	<br />
	<div>
		<label class="inputLabel">Last Name:</label>
		<input class="userInput" type="text" name="last_name" id="last_name">
	</div>
	<br />
	<div>
		<label class="inputLabel">Age:</label>
		<input class="userInput" type="number" name="age" id="age">
	</div>
	<br />
	<div>
		<label class="inputLabel">Country:</label>
        <select name="countryA" id="countryA">
            <option value="" selected="selected">Select Country</option>
            {{#if countries}}
            {{#each countries}}
            <option id="selectedName" value="{{this.id}}">{{this.name}}</option>
            {{/each}}
            {{/if}}
        </select>
	</div>
	<br />
	<div>
		<input type="submit" name="AddActor" value="AddActor" id="postNewActor">
	</div>
</form>

<h2>Input A Movie In a Country</h2>
<form id="newMinC" action="/insertMinC" method="post">
	<div>
		<label class="inputLabel">Movie Title:</label>
        <select name="movieC" id="movieC">
            <option value="" selected="selected">Select Movie Title</option>
            {{#if movies}}
            {{#each movies}}
            <option id="selectedName" value="{{this.id}}">{{this.title}} - {{this.release}}</option>
            {{/each}}
            {{/if}}
        </select>
	</div>
	<br />
	<div>
		<label class="inputLabel">Country:</label>
        <select name="countryM" id="countryM">
            <option value="" selected="selected">Select Country</option>
            {{#if countries}}
            {{#each countries}}
            <option id="selectedName" value="{{this.id}}">{{this.name}}</option>
            {{/each}}
            {{/if}}
        </select>
	</div>
	<br />
	<div>
		<input type="submit" name="AddMovieInCountry" value="AddMovieInCountry" id="postNewMinC">
	</div>
</form>

<h2>Input A Director of a Movie</h2>
<form id="newDofM"  action="/insertDofM" method="post">
	<div>
    <label class="inputLabel">Director Name:</label>
        <select name="directorM" id="actorM">
            <option value="" selected="selected">Select Director Name:</option>
            {{#if directors}}
            {{#each directors}}
            <option id="selectedName" value="{{this.id}}">{{this.first_name}} {{this.last_name}} - {{this.age}}</option>
            {{/each}}
            {{/if}}
        </select>
	</div>
	<br />
	<div>
		<label class="inputLabel">Movie Title:</label>
        <select name="movieD" id="movieD">
            <option value="" selected="selected">Select Movie Title</option>
            {{#if movies}}
            {{#each movies}}
            <option id="selectedName" value="{{this.id}}">{{this.title}} - {{this.release}}</option>
            {{/each}}
            {{/if}}
        </select>
	</div>
	<br />
	<div>
		<input type="submit" name="AddDirectorOfMovie" value="AddDirectorOfMovie" id="postNewDofM">
	</div>
</form>

<h2>Input an Actor in a Movie</h2>
<form id="newAinM" action="/insertAinM" method="post">
	<div>
    <label class="inputLabel">Actor Name:</label>
        <select name="actorM" id="actorM">
            <option value="" selected="selected">Select Actor Name:</option>
            {{#if actors}}
            {{#each actors}}
            <option id="selectedName" value="{{this.id}}">{{this.first_name}} {{this.last_name}} - {{this.age}}</option>
            {{/each}}
            {{/if}}
        </select>
	</div>
	<br />
	<div>
		<label class="inputLabel">Movie Title:</label>
        <select name="movieA" id="movieA">
            <option value="" selected="selected">Select Movie Title</option>
            {{#if movies}}
            {{#each movies}}
            <option id="selectedName" value="{{this.id}}">{{this.title}} - {{this.release}}</option>
            {{/each}}
            {{/if}}
        </select>
	</div>
	<br />
	<div>
		<input type="submit" name="AddActorInMovie" value="AddActorInMovie" id="postNewAinM">
	</div>
</form>
