<!--
 * Filename: collaborations.handlebars
 * Author: Zachary Anderson, Ryan Gift
 * Date: 8/18/17
 * Description: This displays the number of Director/Actor collaborations. The
 *              form field allows users to search/filter results.
-->

<h3>Director - Actor Collaborations</h3>
<h4>Filters:<h4>
<form action="/collaborations" method="get">
  <p>
    <label for="d.first_name">Director First Name:</label>
    <input type="text" name="d.first_name" id="d.first_name">
  </p>
  <p>
    <label for="d.last_name">Director Last Name:</label>
    <input type="text" name="d.last_name" id="d.last_name">
  </p>
  <p>
    <label for="a.first_name">Actor First Name:</label>
    <input type="text" name="a.first_name" id="a.first_name">
  </p>
  <p>
    <label for="a.last_name">Actor Last Name:</label>
    <input type="text" name="a.last_name" id="a.last_name">
  </p>
  <p>
    <label for="amount">Number of Collaborations:</label>
    <input type="number" name="amount" id="amount">
  </p>
  <input type="submit" value="Filter Results">
  <br/>
</form>
<table>
    <caption>Number of Times Directors and Actors Have Worked Together</caption>
    <tr>
        <th>Director First Name</th>
        <th>Director Last Name</th>
        <th>Actor First Name</th>
        <th>Actor Last Name</th>
        <th>Collaborations</th>
    </tr>
    {{#if results}}
    {{#each results}}
    <tr>
        <td>{{this.dfn}}</td>
        <td>{{this.dln}}</td>
        <td>{{this.afn}}</td>
        <td>{{this.aln}}</td>
        <td>{{this.amount}}</td>
    </tr>
    {{/each}}
    {{/if}}
</table>
