<!--
 * Filename: directors.handlebars
 * Author: Zachary Anderson, Ryan Gift
 * Date: 8/18/17
 * Description: This displays the Directors table from the database.
-->

<h3>This will show the current table of directors</h3>
<table>
    <caption>List of Directors</caption>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Country</th>
    </tr>
    {{#if results}}
    {{#each results}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
        <td>{{this.age}}</td>
        <td>{{this.name}}</td>
    </tr>
    {{/each}}
    {{/if}}
</table>
