<h3>Actor Bios and Filmography</h3>
<table>
    <caption>Personal Information and Filmography of Actors</caption>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Home Country</th>
        <th>Movie Title</th>
        <th>Genre</th>
        <th>Runtime (min)</th>
        <th>Release Date</th>
    </tr>
    {{#if results}}
    {{#each results}}
    <tr>
        <td>{{this.afn}}</td>
        <td>{{this.aln}}</td>
        <td>{{this.aAge}}</td>
        <td>{{this.countryName}}</td>
        <td>{{this.mTitle}}</td>
        <td>{{this.mGenre}}</td>
        <td>{{this.mRuntime}}</td>
        <td>{{this.formattedDate}}</td>
    </tr>
    {{/each}}
    {{/if}}
</table>
