<h3>Director Bios and Filmography</h3>
<form action="/director_bio_filmography" method="get">
  <p>
    <label for="d.first_name">Director First Name:</label>
    <input type="text" name="d.first_name" id="d.first_name">
  </p>
  <p>
    <label for="d.last_name">Director Last Name:</label>
    <input type="text" name="d.last_name" id="d.last_name">
  </p>
  <p>
    <label for="d.age">Age:</label>
    <input type="text" name="d.age" id="d.age">
  </p>
  <p>
    <label for="c.name">Home Country:</label>
    <input type="text" name="c.name" id="c.name">
  </p>
  <p>
    <label for="m.title">Movie Title:</label>
    <input type="text" name="m.title" id="m.title">
  </p>
  <p>
    <label for="m.genre">Movie Genre:</label>
    <input type="text" name="m.genre" id="m.genre">
  </p>
  <p>
    <label for="m.runtime">Movie Runtime (min):</label>
    <input type="text" name="m.runtime" id="m.runtime">
  </p>
  <p>
    <label for="m.release_date">Movie Release Year:</label>
    <input type="text" name="m.release_date" id="m.release_date">
  </p>
  <input type="submit" value="Filter Results">
  <br/>
</form>
<table>
    <caption>Personal Information and Filmography of Directors</caption>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Home Country</th>
        <th>Movie Title</th>
        <th>Genre</th>
        <th>Runtime (min)</th>
        <th>Release Date</th>
    </tr>
    {{#if results}}
    {{#each results}}
    <tr>
        <td>{{this.dfn}}</td>
        <td>{{this.dln}}</td>
        <td>{{this.dAge}}</td>
        <td>{{this.countryName}}</td>
        <td>{{this.mTitle}}</td>
        <td>{{this.mGenre}}</td>
        <td>{{this.mRuntime}}</td>
        <td>{{this.formattedDate}}</td>
    </tr>
    {{/each}}
    {{/if}}
</table>
