<!--
 * Filename: removeFromTables.handlebars
 * Author: Zachary Anderson, Ryan Gift
 * Date: 8/18/17
 * Description: This displays the forms to remove a Country and a Movie filmed
 *              in a Country relationship from the database.
-->

<br />
<h2>Remove Country from Table:</h2>
<form id="removeCty" action="/removeCountry" method="post">
    <div>
        <label class="inputLabel">Country Name:</label>
        <select name="countryR" id="countryR">
            <option value="" selected="selected">Select Country</option>
            {{#if countries}}
            {{#each countries}}
            <option id="selectedName" value="{{this.id}}">{{this.name}}</option>
            {{/each}}
            {{/if}}
        </select>
    </div>
    <br />
    <div>
        <input type="submit" name="RemoveCountry" value="RemoveCountry" id="postREMOVEcty">
    </div>
</form>

<h2>Remove Movie from Country:</h2>
<form id="removeMfromC" action="/removeMinC" method="post">
	<div>
        <label class="inputLabel">Movie Title:</label>
        <select name="movieCR" id="movieCR">
            <option value="" selected="selected">Select Movie Title</option>
            {{#if movies}}
            {{#each movies}}
            <option id="selectedName" value="{{this.id}}">{{this.title}} - {{this.release}}</option>
            {{/each}}
            {{/if}}
        </select>
    </div>
    <br />
	<div>
        <label class="inputLabel">Country Name:</label>
        <select name="countryMR" id="countryMR">
            <option value="" selected="selected">Select Country</option>
            {{#if countries}}
            {{#each countries}}
            <option id="selectedName" value="{{this.id}}">{{this.name}}</option>
            {{/each}}
            {{/if}}
          </select>
    </div>
	<br />
	<div>
		<input type="submit" name="RemoveMovieFromCountry" value="RemoveMovieFromCountry" id="postREMOVEmc">
	</div>
</form>
