<br />
<h2>Remove Country from Table:</h2>
<form id="removeCty" action="/removeCountry" method="post">
    <div>
        <label class="inputLabel">Country Name:</label>
        <select name="name" id="name">
            <option value="" selected="selected">Select Country</option>
            {{#if name}}
            {{#each name}}
            <option id="selectedName" value="{{this.name}}">{{this.name}}</option>
            {{/each}}
            {{/if}}
        </select>
    </div>
    <br />
    <div>
        <input type="submit" name="RemoveCountry" value="RemoveCountry" id="postREMOVEcty">
    </div>
</form>

<h2>Remove Movie from Country:</h2>
<form id="removeMfromC" action="/removeMinC" method="post">
	<div>
        <label class="inputLabel">Movie Title:</label>
        <select name="title" id="title">
            <option value="" selected="selected">Select Movie Title</option>
            {{#if title}}
            {{#each title}}
            <option id="selectedName" value="{{this.title}}">{{this.title}}</option>
            {{/each}}
            {{/if}}
        </select>
    </div>
    <br />
	<div>
        <label class="inputLabel">Country Name:</label>
        <select name="name" id="name">
            <option value="" selected="selected">Select Country</option>
            {{#if name}}
            {{#each name}}
            <option id="selectedName" value="{{this.name}}">{{this.name}}</option>
            {{/each}}
            {{/if}}
          </select>
    </div>
	<br />
	<div>
		<input type="submit" name="RemoveMovieFromCountry" value="RemoveMovieFromCountry" id="postREMOVEmc">
	</div>
</form>
