<!--
 * Filename: updateTables.handlebars
 * Author: Zachary Anderson, Ryan Gift
 * Date: 8/18/17
 * Description: This displays the form to update an actor.
-->

<br />
<h2>Update Actors in Movies Information:</h2>
<form id="updateActor" action="/update_actor" method="post">

	<div>
    <label class="inputLabel">Actor To Update:</label>
        <select name="actorU" id="actorU">
            <option value="" selected="selected">Select Actor:</option>
            {{#if actors}}
            {{#each actors}}
            <option id="selectedName" value="{{this.aid}}">{{this.fname}} {{this.lname}} -- Age:{{this.aage}} -- Country:{{this.home_country}}</option>
            {{/each}}
            {{/if}}
        </select>
	</div>
	<br />
	<br />
	<div>
		<label class="inputLabel">Actor First Name:</label>
		<input class="userInput" type="text" name="first_name" id="first_name">
	</div>
	<br />
	<div>
		<label class="inputLabel">Actor Last Name:</label>
		<input class="userInput" type="text" name="last_name" id="last_name">
	</div>
	<br />
	<div>
		<label class="inputLabel">Actor Age:</label>
		<input class="userInput" type="text" name="age" id="age">
	</div>
	<br />
	<div>
		<label class="inputLabel">Actor Country:</label>
        <select name="countryAU" id="countryAU">
            <option value="" selected="selected">Select Country</option>
            {{#if countries}}
            {{#each countries}}
            <option id="selectedName" value="{{this.id}}">{{this.name}}</option>
            {{/each}}
            {{/if}}
        </select>
	</div>
	<br />
	<div>
		<input type="submit" name="updateActor" value="updateActor" id="postUpAct">
	</div>
</form>
